body,
html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif !important;
}

.app-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;

    .login-side-stepper-carousel {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #0D3251;

        .login-stepper {
            margin: auto;

            .stepper-label {
                padding: 2px 0;

                span svg text {
                    display: none;
                }

                .MuiStepLabel-iconContainer.Mui-active, .MuiStepLabel-iconContainer.Mui-completed {
                    position: relative;

                    .Mui-completed {
                        background-color: #fff;
                        border-radius: 50%;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        height: 28px;
                        width: 28px;
                        border: 1px solid #5D7FA3;
                        border-radius: 50%;
                        transform: translate(-10%, -10%);
                    }
                }

                .MuiStepLabel-iconContainer.Mui-completed,
                .MuiStepLabel-iconContainer.Mui-active {
                    &::before {
                        border: 1px solid #1976d2;
                    }
                }

                .MuiStepLabel-label {
                    color: #fff;
                }
            }
        }
    }

    .login-carousel {
        position: relative;
        bottom: 60px;
        max-width: 364px;
        margin: 0 auto;

        .login-carousel-item {
            display: flex;
            align-items: center;
            color: #96CAF7;
            padding: 16px;
            background: #134267;
            border-radius: 6px;
            margin-bottom: 16px;

            h2 {
                font-weight: 700;
                font-size: 32px;
                margin-right: 14px;
            }
        }
    }
}